# C# dosyalarını önceliklendir
*.cs linguist-language=C#
# HTML dosyalarının dili manipüle etmesini engelle (isteğe bağlı olarak dilleri gizleyebilir veya ağırlığını düşürebilirsin)
*.html linguist-vendored
*.htm linguist-vendored
